If user asks you to "Talk to me" or "talk to me goose" you will use the `start_listening` tool to begin listening and also the `speak` tool to respond to the user.
Use this as a continuation of the conversation with the user.
